<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/FoodTruck.png"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/661e46e89e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>FoodTruck</title>
</head>
<body>
  
    <nav>
        <a href="../index.html" id="logo-responsive"><img src="../img/Food_blanco-removebg-preview.png" height="58px" alt=""></a>
        <a href="../index.html"><h2 id="logo"> FoodTruck</h2></a>
        <div>
            <ul class="nav-normal">
                <a href="../index.html">Inicio</a>
                <li><span><h4>Menú</h4></span>
                    <ul class="desp">
                        <li><a href="#">Menú caliente</a></li>
                        <li><a href="./menu-frio.html">Menú frio</a></li>
                        <li><a href="./menu-bebida.html"><h4>Menú Bebidas</h4></a></li>
                    </ul>
                </li>
            </ul>
        
            <ul class="nav-resp">
                <li><a href="#test"><i class="fa-solid fa-bars"></i></a>
                    <div class="desp-prin-div" id="test">
                        <ul class="desp-prin">
                            <li class="cerrar-desp"><a href="#"><i class="fa-solid fa-xmark"></i></a></li>
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="#">Menú caliente</a></li>
                            <li><a href="./menu-frio.html">Menú frio</a></li>
                            <li><a href="./menu-bebida.html">Menú Bebidas</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="submenu">
        <h2><span>Menu Caliente</span></h2>  
        <div class="galeria">
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/frio/crepes3.jpeg" alt="">
                    </div>
                    <div>
                        <p>Crepe de aguacuate y huevo</p>
                        <p>Precio: 1.50€</p>
                    </div>
                </div>
            </div>
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/smoked_salmon.jpg" alt="">
                    </div>
                    <div>
                        <p>Salmon ahumado</p>
                        <p>Precio: 2.50€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/pizza_cuatro_quesos.png" alt="">
                    </div>
                    <div>
                        <p>Pizza de cuatro quesos</p>
                        <p>Precio: 7.90€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/perrito.jpg" alt="">
                    </div>
                    <div>
                        <p>Perrito caliente</p>
                        <p>Precio: 3.20€</p>
                    </div>
                </div>
            </div>

            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/kimchi_hotdog.jpg" alt="">
                    </div>
                    <div>
                        <p>Hot-dog de kimchi</p>
                        <p>Precio: 4.70€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/hamburguesa.jpg" alt="">
                    </div>
                    <div>
                        <p>Hamburguesa americana</p>
                        <p>Precio: 3.50€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/goat_burguer.jpg" alt="">
                    </div>
                    <div>
                        <p>Hamburguesa de cabra</p>
                        <p>Precio: 5.50€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/caliente/chicken_tikks.jpg" alt="">
                    </div>
                    <div>
                        <p>Chicken Tikks</p>
                        <p>Precio: 2.00€</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <ul>
          <li>Teléfono: +56 988715442</li>
          <li>TM & 2022 Food Corporation. Todos los derechos reservados</li>
          <li><i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-youtube"></i></i></li>
        </ul>
    </footer>

</body>
</html>