<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./img/FoodTruck.png"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/661e46e89e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>FoodTruck</title>
</head>
<body>
  
    <nav>
        <a href="../index.html" id="logo-responsive"><img src="../img/Food_blanco-removebg-preview.png" height="58px" alt=""></a>
        <a href="../index.html"><h2 id="logo"> FoodTruck</h2></a>
        <div>
            <ul>
                <a href="../index.html"><h4>Inicio</h4></a>
                <li><span>Menú</span>
                <ul class="desp">
                    <li><a href="./menu-caliente.html">Menú caliente</a></li>
                    <li><a href="./menu-frio.html">Menú frio</a></li>
                    <li><a href="./menu-bebida.html">Menú Bebidas</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="menus">
        <h2>Menu Frio</h2>
        <div class="galeria">
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/7up.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 2.30€</p>
                    </div>
                </div>
            </div>
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/pepsi.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 2.50€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/fanta.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 2.60€</p>
                    </div>
                </div>
            </div>

            <div class="targeta">
              <div>
                  <div class="tgt-img">
                      <img src="../img/comida/bebida/CC_Origal.jpg" alt="">
                  </div>
                  <div>
                      <p>Precio: 2.50€</p>
                  </div>
              </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/agua.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 1.90€</p>
                    </div>
                </div>
            </div>

            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/batido.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 3.00€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/cerveza.jpg" alt="">
                    </div>
                    <div>
                        <p>Precio: 3.00€</p>
                    </div>
                </div>
            </div>
            
            <div class="targeta">
                <div>
                    <div class="tgt-img">
                        <img src="../img/comida/bebida/vinos.png" alt="">
                    </div>
                    <div>
                        <p>Precio: 3.25€</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>